.Navbarbtn-Container{
    display: flex;
    font-family: 'K2D';
    font-style: normal;
    font-weight: 600;
    font-size: 100%;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 25%;
    justify-content: center;
    align-items: center;
    &:hover{
        animation: BackgroundColorChangeHover 0.5s forwards;
    }
    @keyframes BackgroundColorChangeHover {
        0%{
            background-color: #6273EF;
            color: white;
        }
        100%{
            background-color: white;
            color: #6273EF;
        }
    }
}