.Navbarbtn-Container-Normal{
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 100%;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: #7B73F8;
    width: 25%;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    transition:  0.5s;
    &:hover{
        opacity: 60%;
    }
}
.Navbarbtn-Container-Alt{
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 100%;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 25%;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    transition:  0.5s;
    &:hover{
        opacity: 60%;
    }
}