.PartnershipYears-Container{
  margin-top: 5%;
  margin-left: 5%;
  color: white;
  font-weight: 600;
  font-family: "K2D";
  & h1{
    font-size: 35px;
    letter-spacing: 0.11em;
  }
  & h2{
    margin-top: 3%;
    font-size: 25px;
    letter-spacing: 0.1em;
  }
  
  .PartnershipYears-OptionsContainer{
    width: 55%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30%;
    margin-top: 3%;
  }
}