.Partnership-Container{
  background: linear-gradient(180deg,#000 0%,#000 0%,#000 0.1%,#000 25%,#5b74ef 100%);
  width: 100vw;
  height: 92.6vh;
 .Partnership-Container-Background{
   position: absolute;
   width: 100%;
   height: 90%;
 }
}