.Navbar-Container{
    display: flex;
    height: 78px;
    justify-content: space-between;
    align-items: center;
    background: #6495ED;
    box-shadow: inset -385px 20px 91px -31px rgba(232, 232, 232, 0.23), inset 97px 43px 175px -8px rgba(78, 64, 242, 0.72);
    .Navbar-Logo{
        padding-left: 2%;
        display: flex;
        align-items: center;
        p{
            color: white;
            justify-content: center;
            align-items: center;
            font-size: 150%;
            margin-left: 5%;
            font-family: 'K2D';
            font-weight: 600;
        }
    }
    .Navbar-Buttons-Container{
        display: flex;
        width: 35%;
        height: 100%;
        justify-content: space-between;
    }
}
.Navbar-LowerBorder{
    margin-top: -5px;
    background: rgba(100, 149, 237, 0.84);
    border: 5px solid rgba(124, 171, 255, 0.5);
}