.Navbar-Container-Normal{
    display: flex;
    height:7vh;
    justify-content: space-between;
    align-items: center;
    background: white;
    transition: 1s;
    .Navbar-Logo{
        padding-left: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        
        .Navbar-Logo-Container{
            width: 27px;
            height: 38px;
            background-image: url("../../Images/Logo/logo-two.png");
            background-size: cover;
            background-repeat: no-repeat;
        }
        p{
            justify-content: center;
            align-items: center;
            font-size: 120%;
            margin:5px 0px 0px 10px;
            font-family: 'cocogoose';
            font-weight: 600;
            color: #7B73F8;
        }
    }
    .Navbar-Buttons-Container{
        display: flex;
        width: 35%;
        height: 88%;
        justify-content: space-between;
        
    }
}
.Navbar-Container-Alt{
    display: flex;
    height:7vh;
    justify-content: space-between;
    align-items: center;
    background: #565656;
    transition: 0.5s;
    .Navbar-Logo{
        padding-left: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        .Navbar-Logo-Container{
            width: 27px;
            height: 38px;
            background-image: url("../../Images/Logo/logo-one.png");
            background-size: cover;
            background-repeat: no-repeat;
        }
        p{
            justify-content: center;
            align-items: center;
            font-size: 120%;
            margin:5px 0px 0px 10px;
            font-family: 'cocogoose';
            font-weight: 600;
            color: white;
        }
    }
    .Navbar-Buttons-Container{
        display: flex;
        width: 35%;
        height: 88%;
        justify-content: space-between;

    }
}
